/* Meduim screen  */

@media only screen and (max-width: 767px) {
  /* Home page */
  #cover h1 {
    top: 17%;
    left: 10%;
    font-size: 1rem;
    color: black;
  }

  #cover h2 {
    top: 23%;
    left: 10%;
    font-size: 2rem;
  }
  #articles {
    width: 95%;
    margin: auto;
  }

  #articles .produits {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
  }

  /* Produit page */
  .proprietes {
    flex-direction: column;
  }
  .ChoixProduit {
    margin: 0.4rem auto;
    width: 95%;
  }
  .proprietes img {
    width: 100%;
    margin: 0;
  }
  .proprietes .informations {
    width: 100%;
    margin-top: 1rem;
  }
  .informations .Nmbr {
    margin: 1rem auto;
    width: 90%;
    justify-content: space-between;
  }
  .Nmbr .fa-plus {
    margin-right: 0.4rem;
  }
  .Nmbr strong {
    font-size: 0.9rem;
  }
  .informations .Nmbr button {
    width: 30%;
  }
  /* Panier page */
  #panierVide {
    margin: 5rem auto;
  }
  #panierVide h1,
  #panier h1,
  #titreAdresse {
    font-size: 1rem;
  }

  .contentPanier {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .contentPanier img {
    margin-bottom: 2rem;
    display: block;
    width: 100%;
  }
  .contactForm {
    width: 90%;
  }
  .contentPanier .PanierInfo .first {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .first input {
    margin: 1rem 0;
  }
  .PanierInfo .second {
    flex-direction: column;
    text-align: center;
  }
  .fa-trash-alt {
    margin-top: 0.4rem;
  }
  #totalPRice {
    text-align: center;
  }
  /* Confirmation page */
  .confirmation {
    width: 90%;
  }
  .gridContent {
    grid-template-columns: 1fr;
  }
  .confirmation h1 {
    font-size: 1rem;
  }
  #prName {
    font-size: 1rem;
  }

  .orderSummary {
    flex-direction: column;
    align-items: flex-start;
  }
  .orderSummary img {
    width: 50%;
    margin-bottom: 1rem;
  }

  .orderSummary .infoProduit {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3rem;
  }
}

/* Very small screen */
@media only screen and (max-width: 320px) {
  /* Home page */
  footer {
    flex-direction: column;
    justify-content: space-between;
  }

  /* Produit page */
  .informations .Nmbr {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
  }
  .informations .Nmbr button {
    margin: auto;
    width: 50%;
  }
  .Nmbr .fas {
    width: 3rem;
  }
  .Nmbr .fa-minus,
  .Nmbr .fa-plus {
    border-radius: 0;
    margin: 0;
  }
  .Nmbr strong {
    border-top: 1rem;
  }
}
/* Large screen  */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  /* Home page */
  #cover h1 {
    top: 17%;
    left: 10%;
    font-size: 3rem;
    color: black;
  }

  #cover h2 {
    margin-top: 0.6rem;
    top: 23%;
    left: 10%;
    font-size: 3.6rem;
  }
  #articles {
    width: 90%;
    margin: auto;
  }

  #articles .produits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  /* Produit page */
  .ChoixProduit {
    width: 90%;
  }
  @media only screen and (max-width: 1024px) {
    .ChoixProduit {
      height: 130vh;
      margin-bottom: 4rem;
    }
  }

  .proprietes {
    width: 95%;
    flex-direction: column;
  }
  .proprietes img {
    width: 100%;
  }
  .proprietes .informations {
    width: 100%;
    /* height: 50vh; */
    margin-top: 2rem;
  }

  /* Panier page */
  .contactForm {
    width: 50%;
  }

  .contentPanier {
    padding-bottom: 7rem;
  }

  /* Confirmation page */
  .confirmation {
    width: 70%;
  }
  .gridContent {
    grid-template-columns: 1fr;
  }
  .gridContent p,
  .gridContent strong {
    font-size: 1.4rem;
  }

  .orderSummary img {
    width: 20%;
    margin-bottom: 1rem;
  }

  .orderSummary .infoProduit {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3rem;
  }
}
